{% extends "base.html" %}
{% block content %}


<div class="container mb-4">
  <div class="row">
    <div class="col">
      <h1 class="display-4">About The Project</h1>
      <hr class="my-4">
      <p class="lead">
        This project has the ability to display stock information from a list of companies and display closing price
        based
        on the selected date range.
        The S&P 500 list of companies was scraped from Wikipedia and also contained the company's tickers name,
        Sector,
        Sub Sector and the date that company first started trading.
        Based on the S&P 500 list, a wrapper was used that would access the Yahoo API to get the company’s trade
        information per date.
      </p>
      <p class="lead">The list of the S&P 500 was scraped from Wikipedia and saved it as a Pandas Dataframe. Data
        clean up
        included removal and renaming of colunmns from the
        table scrapped from Wikipedia to fit the tables that exist in the SQL database. The index of the company table
        was
        set as the company ticker to match the database.
        Null values existing in the "First Trade Date" column were configured in database to accept. However, two
        dates
        existing in the "First Trade Date" column existed as well.
        These rows were located and the dates were separated. The first date was used since it was the date the latest
        date and the date that was related to the price information.
      </p>
    </div>
  </div>
</div>


{% endblock content %}