{% extends "base.html" %}
{% block content %}
<div class="container mb-4">
    <h6 class="display-4">Closing Prices for {{company_prices[1].comp_tick}} </h6>
    <p>{{company_prices[1].sect_name }} | {{company_prices[1].sub_sect_name }} | <a
            href="/company/{{company_prices[1].comp_tick}}">Click for more details</a></p>
    <hr class="my-4">


    <!-- Plot -->
    <div class="row">
        <div class="col-8 ml-auto mr-auto mb-4">
            <div id="closingPricePlot"></div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col-8 ml-auto mr-auto mt-4">
            <table id="myTable" class="display p-2">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Closing Price ($) </th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in company_prices %}
                    <tr>
                        <td>{{ data.date }}</td>
                        <td>{{data.CLOSING_PRICE }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>





<script src="{{ url_for('static', filename='js/closingPricePlots.js')}}"></script>
<script src="{{ url_for('static', filename='js/interactiveTable.js')}}"></script>


{% endblock content %}