{% extends "base.html" %}
{% block content %}
<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">Extract, Transform, Load - ETL</h1>
      <hr class="my-4">
      <h3>How to use this application:</h3>
      <br /><br />
      <div class="pl-4 pr-4 mr-4">
        <ul>
          <li>
            <p class="lead">
              You can acess the interactive list of S&P500 by <a href="/sp500">clicking here</a>;
            </p>
          </li>
          <br>
          <li>
            <p class="lead">
              Or, access the closing prices for a given company by entering in the URL the company ticker, the start
              date
              and the end date
              <code>/"company ticker"/"start date"/"end date"</code> (e.g. <a
                href="/mmm/2015-05-03/2020-10-20">/mmm/2015-05-03/2020-10-20</a>);
            </p>
          </li>
          <br />
          <li>
            <p class="lead">
              Or, verify the first trade date as well as the sector name for a given company by entering the URL company
              ticker <code>"company"/"company ticker"</code> (e.g. <a href="/company/mmm">/company/mmm</a>).
            </p>
            <br />
            <p>*For a json format of the data enter /json at the end of the URL.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}